#title {
  text-align: center;
  font-size: 5.5em;
  margin: 0.8em;
  font-family: monospace;
}
*{
  font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url("bg.jpg");

}

#gameContainer {
  width: 702px;
  height: 452px;
  margin: 0 auto;
  background-color: cornflowerblue;


}
#game {
  width: 700px;
  height: 450px;
  border: 1px solid black;
  position: relative;
}

#divider {
  width: 2px;
  height: 100%;
  background: black;
  position: absolute;
  left: 50%;
}
  
#circle {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: solid black;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top:65;
}

.paddle {
  width: 15px;
  height: 60px;
  background: blue;
  position: absolute;
  border-radius: 6px;

}

#paddle-left {
  left: 20px;
}

#paddle-right {
  right: 20px;
}

#ball {
  width: 20px;
  height: 20px;
  background:crimson;
  border-radius: 50%;
  position: absolute;
}

#punctuation1
{
  margin-top: 0.2em;
  position: absolute;
  left: 40%;
  font-size: 50px;
  font-family: monospace;


}

#punctuation2
{
  margin-top: 0.2em;

  position: relative;
  left: 57%;
  font-size: 50px;
  font-family: monospace;

}

#win
{
  border-radius: 5px;
  background-color: indianred; 
  position: absolute;
  left:37%;
  bottom:73%; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}

