#title {
  text-align: center;
  font-size: 5em;
  margin: 1em;
  font-family: monospace;
}
*{
  font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url("bg.jpg");

}

#gameContainer {
  width: 602px;
  height: 402px;
  margin: 0 auto;
  background-color: cornflowerblue;


}
#game {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

#divider {
  width: 1px;
  height: 100%;
  background: black;
  position: absolute;
  left: 50%;
}
  
.paddle {
  width: 10px;
  height: 50px;
  background: blue;
  position: absolute;
}

#paddle-left {
  left: 20px;
}

#paddle-right {
  right: 20px;
}

#ball {
  width: 20px;
  height: 20px;
  background:crimson;
  border-radius: 50%;
  position: absolute;
}

#punctuation1
{
  position: absolute;
  left: 40%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;

}

#punctuation2
{
  position: relative;
  left: 55%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;

}

#win
{
  position: absolute;
  left:35%;
  bottom:50%; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}

